name: Build and Push to GitHub Packages

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    environment: ${{ github.ref_name }}

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Get the latest tag of the branch as version
      id: get_latest_tag
      run: |
        LATEST_TAG="latest"
        if [[ "${{ github.ref_name }}" != "main" ]]; then
          LATEST_TAG="${{ github.ref_name }}-latest"
        fi
        echo "LATEST_TAG=$LATEST_TAG" >> $GITHUB_ENV

    - name: Set Branch Name
      run: echo "BRANCH_NAME=${{ github.ref_name }}" >> $GITHUB_ENV

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Log in to GitHub Container Registry
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITPACKAGE_TOKEN }}

    - name: Build and Tag Docker images
      run: |
        docker build -t ghcr.io/${{ github.repository }}/fpa-ms-365-mcp-server:${{ env.LATEST_TAG }} -f Dockerfile .

    - name: Push Docker images to GitHub Packages
      run: |
        docker push ghcr.io/${{ github.repository }}/fpa-ms-365-mcp-server:${{ env.LATEST_TAG }}
        echo "fpa-ms-365-mcp-server:${{ env.LATEST_TAG }} container image pushed to GitHub Packages"